
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
@media (max-width:1400px) {
    .card{
        left: 30%;
        width: 60%;
    }
    form#add-thread-form{
        width: 65% !important;
        left: 18% !important;
    }
    form button{
        right: 20%;
    }
}


 body {
    font-family: Arial, sans-serif;
    background-color: #d5c5c5;
    font-size: 16px; /* Set root font size */
 }
 
 /* Header Section */
 header {
    background-color: #14213d;
    color: #fff;
    display: inline-block;
    padding: 0.25rem;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;

    .icon_site{
        background-image: url(cooltext455836870339955.png);
        width: 20% !important;
        background-size: contain;
        height: 120px !important;
        background-repeat: no-repeat;
        
    }
    
 }
 header h1{
    font-size: 1rem;
 }
 
 header .logo img {
    width: 5rem; /* Adjust logo size */
 }
 
 header .user-icon img {
    width: 2rem; /* Adjust user icon size */
 }
 
 /* Main Section */
 main {
    padding: 1rem;
    min-height: calc(100vh - 250px); /* Adjust according to the height of header and footer */
    overflow-y: auto; /* Enable vertical scrolling */
 }

 .logo{
    height: 40px;
    display: flex;
    align-items: center;

    .title{
        position: absolute;
        left: 50%;
    }

     .name{
        position: relative;
        left: 2px;
     }
 }
 

 /* Card Styling */
 .card {
    background-color: #5a4c4c;
    color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    cursor: pointer; 
    position: relative;
    z-index: 1; 
    position: relative;
    left:20%;
    max-width: 900px;

    
 }
 
 .card h2 {
    margin-bottom: 0.5rem;
    position: relative;
    right: 10px;
 }
 
 .card p {
    font-size: 1.1rem; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
 }
 
 .card .user-logo {
    width: 2rem; 
    height: 2rem; 
    border-radius: 50%; 
    background-color: #fff;
    float: left;
    overflow: hidden;
    margin-right: 1rem; 
 }
 
 .card .user-logo img {
    width: 100%;
    height: auto;
 }
 
 /* Details Box Styling */
 .details-box {
    display: none;
    background-color: #14213d;
    color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 100%; /* Position above the card */
    left: 0;
    right: 0;
    z-index: 2; /* Ensure details box stays above cards */
 }
 
 .details-box.active {
    display: block;
 }

 form#thread-content{
    outline: none;
    border: none;
 }

 
 /* Form Styling */
 form#add-thread-form {
    outline: none;
    border: none;
    position: fixed;
    left:100px;
    bottom: 0;
    width: 85%; 
    padding: 1rem;
    height: 15%;
    background-color: #14213d;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    z-index: 3; /* Ensure writing bar stays above everything */
 }
 
 form textarea {
    width: 90%; /* Adjust according to padding and button width */
    padding: 0.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    outline:none;
    border: none;
    border-radius: 1rem;
    resize: none;
    background-color: #14213d;
    color: #fff;
    font-size: 1rem; /* Set font size using rem units */
    margin-bottom: 1rem;
 }
 
 form button {
    background-color: #fca311;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem; /* Set font size using rem units */
    transition: background-color 0.3s ease;
    position: fixed;
    bottom: 2px;

    transition: background-color 0.6;
 }
 
 form button:hover {
    background-color: #d2860b;
 }
 
 /* Footer Section */
 /* footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
 } */