body {
    font-family: Arial, sans-serif;
    background-color: #14213d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}




.header{
    position: absolute;
    top:0px;
    color: white;
    background-color: #3c3e3f;
    height: 70px;
    width: 100%;
    
    .icon_site{
        height: 75px;
        opacity: 80%;
    }
}

.login-container {

    background-color: #c6af89;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 10px 10px 10px rgba(230, 227, 227, 0.1); */
    width: 500px;
    height: 300px;
    overflow: hidden; 
}

/* .login-container:before{
    content: "";
    background-color: white;
    background-image: conic-gradient(
        #dc143c 20deg,transparent 120g
    );
    height: 360px;
    width: 570px;
    position: absolute;
    left: 450px;
    top:210px;
} */


/* .login-container:before,
.login-container:after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 8px;
    border: 2px solid rgba(233, 180, 75, 0.8);
    animation: borderRevolve 4s linear infinite;
} */

.logo{
    text-align: center;
    justify-items: center;
    height: 40%;
    font-size: 3rem;
    color: #0056b3;
    margin: 20px;

}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

.login-container input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}


.copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 12px;
}

